Repository tyankatsu0105/tyankatsu.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix --cache --cache-location '.stylelintcache', eslint --fix --cache --cache-location '.eslintcache'

.lintstagedrc:

{
  "*.scss": [
    "prettier --write",
    "stylelint --fix --cache --cache-location '.stylelintcache'"
  ],
  "*.js": [
    "eslint --fix --cache --cache-location '.eslintcache'"
  ],
  "*.vue": [
    "stylelint --fix --cache --cache-location '.stylelintcache'",
    "eslint --fix --cache --cache-location '.eslintcache'"
  ],
  "*.md": [
    "prettier --write"
  ]
}

meta for index
  src/pages/Index.vue
  src/shared/const.js
  src/shared/index.js
  static/ogp.png
Due: stylelint --fix --cache --cache-location '.stylelintcache', eslint --fix --cache --cache-location '.eslintcache'

overrite titleTemplate when index
  src/pages/Index.vue
Due: stylelint --fix --cache --cache-location '.stylelintcache', eslint --fix --cache --cache-location '.eslintcache'

feat: use meta
  .stylelintrc.js
  src/pages/About.vue
  src/pages/Index.vue
  src/pages/Posts.vue
  src/shared/meta.js
  src/templates/ContentfulPosts.vue
Due: stylelint --fix --cache --cache-location '.stylelintcache', eslint --fix --cache --cache-location '.eslintcache'

use vercel og-image
  src/templates/ContentfulPosts.vue
Due: stylelint --fix --cache --cache-location '.stylelintcache', eslint --fix --cache --cache-location '.eslintcache'

feat: add tag manager
  src/main.js
  src/shared/index.js
  src/shared/tagManager.js
Due: eslint --fix --cache --cache-location '.eslintcache'

fix: fix tagmanager function
  src/main.js
  src/shared/tagManager.js
Due: eslint --fix --cache --cache-location '.eslintcache'

docs: add todo
  README.md
Due: prettier --write

feat: use gridsome-plugin-gtm
  gridsome.config.js
  package.json
  src/main.js
  src/shared/index.js
  src/shared/tagManager.js
  yarn.lock
Due: eslint --fix --cache --cache-location '.eslintcache'

feat: change fontsize
  src/pages/Index.vue
Due: stylelint --fix --cache --cache-location '.stylelintcache', eslint --fix --cache --cache-location '.eslintcache'

feat: change code style
  src/templates/ContentfulPosts.vue
Due: stylelint --fix --cache --cache-location '.stylelintcache', eslint --fix --cache --cache-location '.eslintcache'

feat: add about info
  src/pages/About.vue
  src/ui/components/Entry.vue
  src/ui/templates/PostList.vue
Due: stylelint --fix --cache --cache-location '.stylelintcache', eslint --fix --cache --cache-location '.eslintcache'

feat: change style
  src/layouts/Default.vue
  src/pages/Posts.vue
  src/ui/atoms/PageHeading.vue
  src/ui/components/Entry.vue
  src/ui/templates/PostList.vue
Due: stylelint --fix --cache --cache-location '.stylelintcache', eslint --fix --cache --cache-location '.eslintcache'

feat: add slides page
  .eslintrc.js
  gridsome.server.js
  lib/collection/slides.js
  package.json
  src/pages/Posts.vue
  src/pages/Slides.vue
  src/ui/components/Entry.vue
  src/ui/components/EntryList.vue
  src/ui/components/VHeader.vue
  src/ui/templates/PostList.vue
  src/ui/templates/Posts.vue
  src/ui/templates/Slides.vue
  yarn.lock
Due: stylelint --fix --cache --cache-location '.stylelintcache', eslint --fix --cache --cache-location '.eslintcache'

reverse slide
  lib/collection/slides.js
Due: eslint --fix --cache --cache-location '.eslintcache'

chore: fixed shiki version
  package.json
  src/index.html
  yarn.lock
Due: none

feat: use anchor-attributes
  package.json
  src/shared/index.js
  src/shared/toExternalLink.js
  src/templates/ContentfulPosts.vue
  yarn.lock
Due: stylelint --fix --cache --cache-location '.stylelintcache', eslint --fix --cache --cache-location '.eslintcache'

wip
  package.json
  src/index.html
  src/templates/ContentfulPosts.vue
  yarn.lock
Due: stylelint --fix --cache --cache-location '.stylelintcache', eslint --fix --cache --cache-location '.eslintcache'

update about
  src/pages/About.vue
Due: stylelint --fix --cache --cache-location '.stylelintcache', eslint --fix --cache --cache-location '.eslintcache'

feat: add katsulog
  README.md
  src/pages/About.vue
Due: prettier --write, stylelint --fix --cache --cache-location '.stylelintcache', eslint --fix --cache --cache-location '.eslintcache'

update
  .gitignore
  .tool-versions
  package.json
  yarn.lock
Due: none

update
  .env.example
  gridsome.server.js
  lib/collection/slides.js
  package.json
  src/pages/About.vue
  src/pages/Index.vue
  src/pages/Posts.vue
  src/pages/Slides.vue
  src/shared/index.js
  src/templates/ContentfulPosts.vue
  src/ui/components/VHeader.vue
  src/ui/templates/Slides.vue
  yarn.lock
Due: stylelint --fix --cache --cache-location '.stylelintcache', eslint --fix --cache --cache-location '.eslintcache'

add feed.xml
  .env.example
  gridsome.config.js
  package.json
  yarn.lock
Due: eslint --fix --cache --cache-location '.eslintcache'

Refactor code structure for improved readability and maintainability
  .tool-versions
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: initialize tyankatsu.com project with Next.js, TypeScript, and essential SVG assets
  migrate-project/tyankatsu.com/.gitignore
  migrate-project/tyankatsu.com/README.md
  migrate-project/tyankatsu.com/app/favicon.ico
  migrate-project/tyankatsu.com/app/globals.css
  migrate-project/tyankatsu.com/app/layout.tsx
  migrate-project/tyankatsu.com/app/page.module.css
  migrate-project/tyankatsu.com/app/page.tsx
  migrate-project/tyankatsu.com/eslint.config.mjs
  migrate-project/tyankatsu.com/lib/api.ts
  migrate-project/tyankatsu.com/next.config.ts
  migrate-project/tyankatsu.com/package-lock.json
  migrate-project/tyankatsu.com/package.json
  migrate-project/tyankatsu.com/public/file.svg
  migrate-project/tyankatsu.com/public/globe.svg
  migrate-project/tyankatsu.com/public/next.svg
  migrate-project/tyankatsu.com/public/vercel.svg
  migrate-project/tyankatsu.com/public/window.svg
  migrate-project/tyankatsu.com/tsconfig.json
Due: prettier --write

feat: フォント設定の追加とコードの整理
  .vscode/settings.json
  migrate-project/tyankatsu.com/app/layout.tsx
  migrate-project/tyankatsu.com/app/page.module.css
  migrate-project/tyankatsu.com/app/page.tsx
  migrate-project/tyankatsu.com/lib/api.ts
  migrate-project/tyankatsu.com/lib/contentful.ts
  migrate-project/tyankatsu.com/package.json
Due: none

wip
  migrate-project/tyankatsu.com/app/(site)/layout.tsx
  migrate-project/tyankatsu.com/app/(site)/page.module.css
  migrate-project/tyankatsu.com/app/(site)/page.tsx
  migrate-project/tyankatsu.com/app/globals.css
  migrate-project/tyankatsu.com/app/page.module.css
  migrate-project/tyankatsu.com/app/page.tsx
  migrate-project/tyankatsu.com/design/layouts/page_layout.tsx
  migrate-project/tyankatsu.com/package-lock.json
  migrate-project/tyankatsu.com/package.json
Due: none

feat: グローバルスタイルとページレイアウトの追加
  migrate-project/tyankatsu.com/app/(site)/layout.tsx
  migrate-project/tyankatsu.com/app/(site)/page.tsx
  migrate-project/tyankatsu.com/design/layouts/globals.css
  migrate-project/tyankatsu.com/design/layouts/page_layout.module.css
  migrate-project/tyankatsu.com/design/layouts/page_layout.tsx
Due: none

feat: .main-insideのスタイルを強化し、アニメーション効果を追加
  migrate-project/tyankatsu.com/design/layouts/page_layout.module.css
Due: none

feat: スキャンラインアニメーションの改善とノイズ効果の追加
  migrate-project/tyankatsu.com/design/layouts/page_layout.module.css
Due: none

feat: タイトルスタイルの追加とページコンテンツの更新
  migrate-project/tyankatsu.com/app/(site)/page.module.css
  migrate-project/tyankatsu.com/app/(site)/page.tsx
  migrate-project/tyankatsu.com/design/layouts/page_layout.module.css
Due: none

feat: .main-insideのスタイルを改善し、アニメーション効果を追加
  migrate-project/tyankatsu.com/design/layouts/page_layout.module.css
Due: none

feat: テキストアニメーションの追加とスタイルの強化
  migrate-project/tyankatsu.com/app/(site)/page.module.css
Due: none

feat: アニメーション効果を改善し、グリッチ効果を追加
  migrate-project/tyankatsu.com/app/(site)/page.module.css
Due: none

feat: グリッチアニメーションを追加し、テキストアニメーションを改善
  migrate-project/tyankatsu.com/app/(site)/page.module.css
Due: none

feat: グリッチアニメーションの改善と新しいアニメーション効果の追加
  migrate-project/tyankatsu.com/app/(site)/page.module.css
Due: none

feat: アニメーションの持続時間を改善し、スキャンノイズ効果を強化
  migrate-project/tyankatsu.com/design/layouts/page_layout.module.css
Due: none

remove comment
  migrate-project/tyankatsu.com/design/layouts/page_layout.module.css
Due: none

feat: メタデータのタイトルと説明を更新
  migrate-project/tyankatsu.com/app/(site)/layout.tsx
Due: none
